*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

html{
    text-transform: capitalize;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    color: aliceblue;
}


.facebook, .twitter, .google, .pinterest {
    width: 180px;
    height: 240px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
}

.content {
    position: absolute;
    bottom: 0;
    left: 16px;
    line-height: 8px;
    margin-bottom: 5px;

}



.fa-facebook-f, .fa-google-plus-g, .fa-pinterest, .fa-twitter {
    margin: 20px 0px 0px 16px;
    font-size: 40px;
}

.bg-facebook {
    background-color: rgb(97, 156, 236);
}

.bg-twitter {
    background-color: rgb(49, 200, 221);
}

.bg-google {
    background-color: rgb(247, 129, 83);
}

.bg-pinterest {
    background-color: rgb(247, 83, 84);
}

