*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #f1f1f1; 
    margin-bottom: 20px;
    padding: 32px; 
}

.header-list {
    display: flex;
    justify-content: flex-end;
    
}

.header-list div{
    margin-right: 20px;
}
.header-list div a{
    text-decoration: none;
}


.row .col-3:nth-child(1) div{
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
    height: 60px;
    line-height: 60px;
    margin-left: 10px;
}

.col-6 img{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.bg-blue{
    background-color: #cdf0f6;
    height: 100%;
}

.footer{
   background-color: #f1f1f1; 
   height: 80px;
   text-align: center;
   line-height: 80px;
   margin-top: 20px;
}
