/* .color-red{
    color: red;
}
.color-blue{
    color: blue;
}

.div2 .color-red {
    color: blue;
} */
.main {
    display: flex;
}

.today {
    width: 25%;
    text-align: center;
}

.content {
    display: flex;

}
.chart-layout {
    height: 320px;
    display: flex;
    justify-items: flex-end;
    align-items: flex-end;
    width: 20px;
}

.chart-layout_item {
    background-color: red;
    color: #fff;
    height: var(--percent);
    width: 20px;
}
 
/* *{
    box-sizing: border-box;
} */
/* .container{
    width: 500px;
    margin-top: 32px;
    color: #fff;
    text-transform: uppercase;
}
.row {
    height: 30px;
}
.row .col:nth-child(1) {
    text-align: right; 
    line-height: 30px;
}
.row .col:nth-child(2){
    padding: 0;
    background-color: rgb(242, 234, 234);
    line-height: 30px;
}

.percent {
    width: 25%;
    height: 30px;
    padding-left: 20px;

    opacity: 0.9;
    
}

.bandwidth {
    background-color: rgb(229, 77, 76);
}
 */


